.mobile_menu_container {
  padding-top: 90px;
  left: 0;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  .mobile_menu {
    transform: translateY(-100%);
    z-index: -5;
    padding: 5%;
    padding-top: 70px;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: calc(100%);
    overflow: scroll;
  }
}

.slide_in {
  animation: slide-in 500ms linear forwards;
}

.slide_out {
  animation: slide-out 500ms linear forwards;
  animation-delay: 5ms;
}

@keyframes slide-in {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-out {
  to {
    transform: translateY(0%);
  }
}
