.slide_in {
  animation: slide-in 500ms linear forwards;
}

.mobile_menu_container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 90px;
  .mobile_menu {
    padding: 5%;
    background-color: white;
    width: 100%;
    animation: slide-out 500ms linear forwards;
  }
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@keyframes slide-in {
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(-100%);
  }
}
