.new_product {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  @media only screen and (min-width: 1024px) {
    text-align: left;
  }
}

.description {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  line-clamp: 3;
  min-height: 75px;
  text-align: center;
  @media only screen and (min-width: 1024px) {
    line-clamp: 4;
    text-align: left;
    min-height: 100px;
  }
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  text-align: center;
  @media only screen and (min-width: 1024px) {
    text-align: left;
  }
}
