.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.regular_padding {
  padding-top: 90px;
}

.header {
  top: -90px;
}

.layout_padding {
  padding-top: 186px;
}

@media (min-width: 768px) {
  .layout_padding {
    padding-top: 282px;
  }
}

.gray_background {
  background-color: #f1f1f1;
}
