.new_product {
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-align: left;
  margin-bottom: 10px;
  color: #d87d4a;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 8.571428298950195px;
    text-align: left;
  }
}

.price {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
  text-align: left;
}

.title {
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: left;
  }

  @media screen and (min-width: 1024px) {
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.4285714626312256px;
    text-align: left;
  }
}

.text {
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
  white-space: pre-line;
}

.secondary_title {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.8571428656578064px;
  text-align: left;

  @media screen and (min-width: 768px) {
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.1428571939468384px;
    text-align: left;
  }

  @media screen and (min-width: 1024px) {
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.1428571939468384px;
    text-align: left;
  }
}

.accessory {
  display: flex;
  column-gap: 24px;
  .quantity {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #d87d4a;
  }
  .item {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    opacity: 0.5;
  }
}

.image_grid {
  margin: 100px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 3%;
  row-gap: 2.6%;
  div {
    img {
      height: 100%;
      width: 100%;
      border-radius: 6px;
    }
    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      width: 100%;
    }
    &:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 100%;
    }
    &:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 100%;
    }
  }
  @media screen and (min-width: 450px) {
    row-gap: 5%;
    grid-template-columns: 460fr 650fr;
    grid-template-rows: auto auto;

    div {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
      }
      &:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
      }
      &:nth-child(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
      }
    }
  }
}

.other_products {
  display: flex;
  flex-direction: column;
  row-gap: 5vw;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 1.5%;
  }
  div {
    flex: 1;
  }
}
